{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Articles</a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    {% for article in articles %}
                        <ul class="navbar-nav">
                            <li class="nav-item active"> <a class="nav-link" href="{{ path('article_show', {'id': article.id}) }}">Montrer article {{ article.id }}</a></li>
                            <li class="nav-item"> <a class="nav-link" href="{{ path('article_edit', {'id': article.id}) }}">Editer article {{ article.id }}</a></li>
                    {% endfor %}
                            <li class="nav-item"> <a class="nav-link" href="{{ path('article_new') }}">Nouvel article</a></li>
                        </ul>
                </div>
            </div>
        </nav>
            
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Category</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>
                    {% if article.Category.name is defined %}
                        {{ article.Category.name }}
                    {% endif %}
                </td>
                <td>{{ article.content }}</td>
                <td>
                    <a href="{{ path('article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
